.dashboard {
  height: inherit;
}

.dashboard-content {
  height: 90%;
  background-color: $color3;
  display: flex;
  justify-content: space-between;
}

.dashboard-title {
  font-size: $large-font;
  text-align: center;
  border-bottom: 1px solid $color2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

// LEFT SIDE

.dashboard-content-left {
  width: 30%;
  min-width: 250px;
}

.dashboard-profile {
  margin: 20px;
  padding: 20px;
  height: 20%;
  background-color: white;
  border-bottom: 1px solid $color1;
}

.dashboard-profile-details {
  text-align: center;
}

.dashboard-status {
  border-style: none;
  font-size: 20px;
  background-color: inherit;
  border-top: 1px solid black;
  padding: 10px;
  width: 100%;
  margin-top: 50px;
  outline: none;
}

.dashboard-cats {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid $color1;
  overflow-y: scroll;
  height: 60%;
}

.catlist {
  transition: background-color .2s;
  padding: 10px;
  border-bottom: 1px solid $color1;
}

.catlist:hover {
  background-color: $color3;
}

.catlist-detail {
  padding-bottom: 5px;
}

.dashboard-catForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.dashboard-catForm input{
  font-size: $normal-font;
  margin-bottom: 5px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.dashboard-catForm input:focus {
  outline:none;
}

// RIGHT SIDE

.dashboard-content-right {
  width: 70%;
}

.dashboard-plans {
  padding: 20px;
  margin: 20px;
  height: 40%;
  background-color: white;
  border-bottom: 1px solid $color1;
}

.dashboard-guests {
  padding: 20px;
  margin: 20px;
  height: 40%;
  background-color: white;
  border-bottom: 1px solid $color1;
}
