.header {
  height: 10%;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-bottom: 1px solid $color1;
  min-width: 700px;
}

.header-search-form {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header-search {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 10px;
}

.header-search-icon {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  background-color: inherit;
  border-style: none;
  transition: font-size .2s;
}

.header-search-icon:hover {
  font-size: $large-font;
}

.header-search-icon:focus {
  outline:none;
  border-bottom: 2px solid $color1;
}
