.home-page {
  height: 100%;
}

.home-page-header {
  height: 7%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.home-page-header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $large-font;
}

.home-page-header  ul {
  display: flex;
}

.home-page-header  ul  li {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
  background-color: $color2;
  color: white;
}

.home-page-header  ul  li:hover {
  background-color: $color4;
  color: black;
}

.home-page-main {
  height: 55%;
  background-image: url(/assets/main-cats.png);
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home-page-main-content {
  padding-left: 10%;
}

.home-page-main p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: $extra-large-font;
  color: $color2;
  font-weight: bold;
  text-shadow: 2px 2px $color3;
}

.home-page-main ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-main ul li {
  padding: 10px;
  margin: 10px;
  background-color: $color2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
	font-weight: bold;
	text-transform: uppercase;
	color: $color3;
  transition: background-color .2s;
}

.home-page-main  div  ul  li:hover {
  opacity: 0.7;
  background-color: $color4;
  color: black;
}

.home-page-main  div  ul  li:active {
  opacity: 0.2;
}

.home-page-desc {
  height: 30%;
  background-color: $color5;
  padding: 25px;
}

.home-page-desc h1 {
  padding: 10px;
  font-size: $large-font;
  color: white;
  text-shadow: 1px 1px $color1;
}

.home-page-desc p {
  padding: 10px;
  font-size: $normal-font;
  color: white;
  text-shadow: 1px 1px $color1;
}
