.host-page {
  height: inherit;
}

.host-page-main {
  height: 90%;
  background-color: $color3;
  display: flex;
  justify-content: space-between;
}

.host-page-title {
  width: 100%;
  text-align: center;
  font-size: $large-font;
  border-bottom: 2px solid $color2;
  margin-bottom: 20px;
  padding-bottom: 5px;
}


// LEFT
.host-page-left {
  width: 30%;
  min-width: 250px;
}

.host-img-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host-profile-img {
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}

.host-profile {
  margin: 20px;
  padding: 20px;
  min-height: 325px;
  background-color: white;
  text-align: center;
  border-bottom: 2px solid $color1;
}

.host-profile > h2 {
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: $normal-font;
  color: $color6;
  word-wrap: break-word;
  border-bottom: 1px solid $color1;
}

.host-profile-status {
  border-bottom: none;
  padding-top: 10px;
  margin-top: 25px;
}

// RIGHT
.host-page-right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.host-schedule {
  text-align: center;
  padding: 20px;
  min-height: 200px;
  background-color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid $color1;
}

.host-schedule > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

.host-schedule-select {
  background-color: $color3;
  text-align-last: center;
  border-style: none;
  transition: background-color .2s;
  font-size: 15px;
}

.host-schedule-select:hover {
  background-color: $color2;
  cursor: pointer;
  color: white;
}

.host-schedule-select option {
  background-color: white;
  color: black;
  text-align: center;
}

.host-schedule > form > select {
  margin-left: 40%;
  margin-right: 40%;
}

.host-schedule > form > input[type='submit'] {
  margin-left: 40%;
  margin-right: 40%;
}

.schedule-date {
  margin-left: 25%;
  margin-right: 25%;
}

.schedule-date-span {
}

.host-schedule input[type='submit'] {
  border-style: none;
  background-color: $color3;
  transition: background-color .2s;
  font-size: $small-font;
}

.host-schedule input[type='submit']:hover {
  border-style: none;
  background-color: $color2;
  color: white;
  cursor: pointer;
}

.booking-error-list {
  padding-top: 10px;
  color: red;
}

.host-overview {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid $color1;
}

.host-review-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.host-review-form > input {
  margin: 10px;
}

.review-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.review-list {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid $color1;
}

.review-list > p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: $color6;
}

.delete-review-button {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: $small-font;
  text-align: center;
  border-style: none;
}

.delete-review-button:hover {
  background-color: crimson;
  cursor: pointer;
  color: white;
}

.active-form-submit {
  border-style: none;
  background-color: $color3;
  transition: background-color .2s;
  font-size: $small-font;
  margin-left: 40%;
  margin-right: 40%;
}

.active-form-submit:hover {
  border-style: none;
  background-color: $color2;
  color: white;
  cursor: pointer;
}

.star-container > div {
  display: flex;
  justify-content: center;
}

.stars {
  font-weight: bolder;
  color: orangered;
}

.host-about {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid $color1;
}

.host-about > p {
  color: $color6;
  text-align: center;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
