.session-page {
  width: inherit;
  height: 100vh;
  overflow: hidden;
}

.session-page-form-container {
  display: flex;
  justify-content: center;
  width: inherit;
  height: 90%;
  background-color: $color3;
  background-size: cover;
}

.session-page-form {
  padding: 25px;
  width: 300px;
  align-self: center;
  background-color: white;
  border-bottom: 2px solid $color1;
}

.formType {
  text-align: center;
}

.session-page-form input {
  font-size: $normal-font;
  margin-bottom: 5px;
  width: 100%;
}

.choice-link {
  color: blue;
  cursor: pointer;
}

.credential-choice {
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  padding: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  padding: 5px;
}
:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
}

.session-page-form h1 {
  font-size: $large-font;
  text-transform: uppercase;
}

// Description container located in home-page.scss
